<ul>
    {{#payments}}
        <li>{{sender}} - {{recepient}} - {{sum}} - {{comment}}</li>
        <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h6 class="mb-0">Sender</h6>
                    <p class="mb-0 opacity-75">{{sender}}</p>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h6 class="mb-0">Recepient</h6>
                    <p class="mb-0 opacity-75">{{recepient}}</p>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h6 class="mb-0">Sum</h6>
                    <p class="mb-0 opacity-75">{{sum}}</p>
                  </div>
                </div>
              </a>
              <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h6 class="mb-0">Comment</h6>
                    <p class="mb-0 opacity-75">{{comment}}</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
    {{/payments}}
</ul>